# Python bytecode files
__pycache__/

# Package virtual environments
/.venv/

# Ruff cache
/.ruff_cache/

# Distribution folder
/dist/

# All files mock migration files
/src/mock/home/migrations/*
!/src/mock/home/migrations/__init__.py

# Temporary files
/src/tmp/
